﻿@{
    ViewBag.Title = "ManageGradeDistribution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Manage Grade Distribution</h2>
<hr />

<div id="divGradeDistributionListContent">
    <table style="border:1px solid #e3e3e3">
        <thead>
            <tr>
                <th style="border:1px solid #e3e3e3;padding: 5px; text-align:center">Title</th>
                <th style="border:1px solid #e3e3e3;padding: 5px; text-align:center" colspan=5>Grade Distribution</th>
                <th style="border:1px solid #e3e3e3;padding: 5px; text-align:center">Actions</th>
            </tr>
        </thead>
        <tr>
            <td style="border:1px solid #e3e3e3;padding: 5px; text-align:center; font-weight:bold;">Grade</td>
            <td style="border:1px solid #e3e3e3;padding: 5px; text-align:center; font-weight:bold">A</td>
            <td style="border:1px solid #e3e3e3;padding: 5px; text-align:center; font-weight:bold">B</td>
            <td style="border:1px solid #e3e3e3;padding: 5px; text-align:center; font-weight:bold">C</td>
            <td style="border:1px solid #e3e3e3;padding: 5px; text-align:center; font-weight:bold">D</td>
            <td style="border:1px solid #e3e3e3;padding: 5px; text-align:center; font-weight:bold">F</td>


        </tr>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td style="border:1px solid #e3e3e3;padding: 5px; text-align:center; font-weight:bold;" data-bind="text: title"></td>
                <td style="border:1px solid #e3e3e3;padding: 5px; text-align:center" data-bind="text: grdA"></td>
                <td style="border:1px solid #e3e3e3;padding: 5px; text-align:center" data-bind="text: grdB"></td>
                <td style="border:1px solid #e3e3e3;padding: 5px; text-align:center" data-bind="text: grdC"></td>
                <td style="border:1px solid #e3e3e3;padding: 5px; text-align:center" data-bind="text: grdD"></td>
                <td style="border:1px solid #e3e3e3;padding: 5px; text-align:center" data-bind="text: grdF"></td>
                <td>
                    <div data-bind="template: { name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="width:50%; float:left" id="divCreateGradeDistribution">
<br />
<h2>Create Grade Distribution For a Class</h2>
<hr />
    Subject (Ex: CSE):<br />
<input type="text" data-bind="value: title" />
<br /><br />
    Course Number (Ex: 101):<br />
<input type="text" data-bind="value: id" />
<br /><br />
    Grade Distribution (Ex: 10,20,30,30,10 ):<br />
<input type="text" data-bind="value: gradedistribution" />
<br /><br />
<button data-bind="click: add" style="padding: 5px 60px">Create</button>
<br /><br />
</div>

<div style="width:50%; float:right" id="divEditGradeDistribution">
    <br />
    <h2>Edit Grade Distribution For a Class</h2>
    <hr />
    Subject (Ex: CSE):<br />
    <input type="text" data-bind="value: $data.title" />
    <br /><br />
    Course Number (Ex: 101):<br />
    <input type="text" data-bind="value: $data.id" />
    <br /><br />
    Grade Distribution (Ex: 10,20,30,30,10):<br />
    <input type="text" data-bind="value: $data.gradedistribution" />
    <br /><br />
    <button data-bind="value: 'Update', click: $data.update" style="padding: 5px 60px">Update</button>
    <br /><br />
    <div id="divMessage"></div>
</div>


<script type="text/html" id="action-template">
    <input type="button" value="Update" data-bind="Load : id" style="border:1px solid #e3e3e3; padding: 5px 50px;background-color: #00ff21; color:#ffffff; font-weight:bold; " />
    <input type="button" value="Delete" data-bind="DeleteGradeDistribution: id" style="border:1px solid #e3e3e3; padding: 5px 50px;background-color: #ff0000; color:#ffffff; font-weight:bold; " />
</script>



<script type="text/javascript">
    $(document).ready(function () {
        var GradeDistributionViewModelObj = new GradeDistributionViewModel();
        GradeDistributionViewModelObj.GetAll();
        GradeDistributionViewModelObj.Initialize();
    });
</script>
