﻿@{
    ViewBag.Title = "Academic Advising - Create Message";
}
<h2>Academic Advising - Create Message</h2>
<hr>

<div id="divAcademicAdvisingCreate">
    <label>Student Id</label>
    <input class="form-control" data-bind="value: studentId"/>
    <br />
    <label>Student Name</label>
    <input class="form-control" data-bind="value: studentName" />
    <br />
    <input class="form-control" data-bind="value: sendToInstructor" />
    <br />
    <label>Message Subject</label>
    <input class="form-control " data-bind="value: messageSubject" maxlength="50" />
    <br />
    <label>Message Body</label>
    <input class="form-control" data-bind="value: messageBody" maxlength="256"/>
    <br />

    <input type="button" value="Send Request" data-bind="click: create" id="idSubmitButton" />
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var academicAdvisingViewModelObj = new AcademicAdvisingViewModel();
        academicAdvisingViewModelObj.Initialize();
    });
</script>
